<!DOCTYPE html>
<html>
<head>
	<title>Manager</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/manager.css">
</head>
<body bgcolor="#C4C4C4" >
	<div class="leftspace"></div>
	<div class="msgshow" id="chat">
		<p align="center" ><ul id="chat_conatiner" align="center">
             </ul></p>
	</div>
	<div>
		<p align="center" ><textarea id="textareaid"></textarea></p>
		<p align="center" ><input type="button" id="sendid" value="Send" onclick="Scommand();"></p>
	</div>
	<script type="text/javascript" src="/javascript/socket.io.js"></script>
	<script type="text/javascript">
		function Scommand () {
			var sock = io.connect();
			var text = document.getElementById('textareaid').value.replace('\r\n', '').trim();
			document.getElementById('textareaid').value = null;
			sock.emit('scommand', text);

			var li = document.createElement('li');
            li.innerHTML = text;

            document.querySelector('#chat_conatiner').appendChild(li);

            document.querySelector('#chat').scrollTop = document.querySelector('#chat').scrollHeight;

              // 并设置焦点
            document.querySelector('textarea').focus();
		}
	</script>
</body>
</html>
