<!-- 目录 -->
<div class="content">
    <h3><a href="javascript:;" id="content_btn">[{{ site.locals.content }}]</a></h3>
    <div id="content_table" style="display:none;">
        <div id="nav"></div>
    </div>
	<pre >
		<p>* 如果需要更详细更全面的信息，请登陆 </p>
		<p>http://radxa.com  						官方网站  </p>
		<p>339567728         						QQ讨论群  </p>
		<p>http://cn.radxa.com/forum.php					中文论坛  </p>
	 	<p>另外，本手册所使用的所有源码、固件、工具，都可以登陆以下地址下载  </p>
		<p>http://dl.radxa.com/                             	      国外服务器  </p>
		<p>http://pan.baidu.com/share/home?uk=3108273493#category/type=0 百度云  </p>
	 	<p>手册内容经小编实际操作，均可正常使用，但因系统以及整理文档等原因，若出现错<p>误，请谅解，并使用以下邮箱联系我们  </p>
		<p>kevin@radxa.com  </p>
		<p> Radxa团队 </p>
		<p> 2015年7月  </p>
	</pre>

</div>
