
<ul>
<li>如果需要更详细更全面的信息，请登陆<br/>
  http://radxa.com                        官方网站<br/>
  339567728                               QQ讨论群<br/>
  http://cn.radxa.com/forum.php                   中文论坛</li>
<li>另外，本手册所使用的所有源码、固件、工具，都可以登陆以下地址下载<br/>
  http://dl.radxa.com/                                      国外服务器<br/>
  http://pan.baidu.com/share/home?uk=3108273493#category/type=0   百度云</li>
<li>手册内容经小编实际操作，均可正常使用，但因系统以及整理文档等原因，若出现错误，请谅解，并使用以下邮箱联系我们<br/>
  kevin@radxa.com</li>
</ul>


<h2>Radxa团队</h2>

<h3>2015年7月</h3>

<hr />
